* {
  margin: 0;
  padding: 0;
}

.card {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    margin: 5px;
    margin-top: 10px;
  }

.mat-card-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

mat-card-title {
  max-width: 290px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

mat-card-title > .mat-icon  {
  cursor: default;
  margin-left: 30px;
  margin-right: 10px;
}

mat-card-title > span {
  vertical-align: middle;
}

.mat-icon {
  vertical-align: middle;
  cursor: pointer;
}

.mat-card-content {
  font-size: 1em;
  font-weight: bold;
}

.mat-button {
  color: black;
  margin-left: 30px;
  align-items: flex-end;
}

.mat-button:hover {
  margin-left: 30px;
  color: #fff;
  background-color: gray;
}
.mat-dialog-actions {
  float: right;
}

.mat-dialog-actions > mat-icon {
  margin: 0px 10px;
}
